HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
!.idea/runConfigurations/FlyWay_Clean.xml
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

/docker_volumes
.env
.mvn
logs/*
flyway.properties
/.metadata/
.swagger-codegen-ignore
/.gradle/
bin/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
